@font-face {
    font-family: 'Graphik LCG';
    src: url('fonts/subset-GraphikLCG-Semibold.eot');
    src: url('fonts/subset-GraphikLCG-Semibold.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-GraphikLCG-Semibold.woff2') format('woff2'),
        url('fonts/subset-GraphikLCG-Semibold.woff') format('woff'),
        url('fonts/subset-GraphikLCG-Semibold.ttf') format('truetype'),
        url('fonts/subset-GraphikLCG-Semibold.svg#GraphikLCG-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('fonts/subset-GraphikLCG-Regular.eot');
    src: url('fonts/subset-GraphikLCG-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-GraphikLCG-Regular.woff2') format('woff2'),
        url('fonts/subset-GraphikLCG-Regular.woff') format('woff'),
        url('fonts/subset-GraphikLCG-Regular.ttf') format('truetype'),
        url('fonts/subset-GraphikLCG-Regular.svg#GraphikLCG-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Graphik LCG', sans-serif;    
}
.header .conteiner {
    max-width: 1440px;
    background-color: #ffff;
    display: flex;
    justify-content: start; 
    margin: 0 auto;
}
.header .conteiner .image {
    margin: 34.23px 51px 34.24px 51px;   
}
.header .conteiner .navigation {
    margin: 39px 0 36px 0;
}
.header .conteiner .navigation .list .item {
    display: inline-block;
    vertical-align: top;         
    font-size: 15px;
    line-height: 20px;
    color: #000000;
      
}
.header .conteiner .navigation .list .item .link {
    text-decoration: none;       
}
.header .conteiner .navigation .list .item:nth-child(1) {
    margin-right: 57px;
}
.header .conteiner .navigation .list .item:nth-child(2) {
    margin-right: 57px;
}
.header .conteiner .navigation .list .item:nth-child(3) {
    margin-right: 42px;
}
.header .conteiner .navigation .list .item:nth-child(4) {
    margin-right: 49px;
}
.header .conteiner .btn__orange {
    display: inline-block;
    vertical-align: top;
    margin: 25px 0 25px 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;    
    color: #FFFFFF;
    background-color: #FF6336;
    padding: 0 22px 0 21px;
    text-decoration: none;
    border: 1px solid #FF6336;    
}
.header .conteiner .btn__white {
    margin: 25px 0 25px 358px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: #FFFFFF;
    padding: 1px 36px 1px 36px;
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;    
    color: #000000;
    text-decoration: none;
}
.header .conteiner .btn__white:hover {
    border: 1px solid blue;
    background-color: yellow;
}
.header .conteiner .btn__orange:hover {
    border: 1px solid blue;
}
.main .section {
    width: 1440px;
    background-color: #FFFFFF;
    margin: 0 auto;
    display: flex;
}
.main .section .conteiner__left {
    margin-left: 75px;
}
.main .section .conteiner__left .conteiner__title {
    max-width: 552px;
    margin-top: 129px;
}
.main .section .conteiner__left .title {
    font-weight: 600;
    font-size: 65px;
    line-height: 70px;
    color: #000000;   
}
.main .section .conteiner__left .text {
    font-size: 25px;
    line-height: 35px;
    color: #000000; 
    margin-top: 51px;   
}
.main .section .conteiner__left .conteiner__text {
    max-width: 471px;
}
.main .section .conteiner__left .btn__orange {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    margin: 51px 10px 0 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;    
    color: #FFFFFF;
    background-color: #FF6336;
    padding: 0 41px 0 42px;
    border: 2px solid #FF6336;
}
.main .section .conteiner__left .btn__white {   
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: #FFFFFF;
    padding: 0 29px 0 29px;
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;    
    color: #000000;
    display: inline-block;
    text-decoration: none;
    margin-top: 51px;
}
.main .section .conteiner__left .btn__orange:hover {
    border: 2px solid black;
}
.main .section .conteiner__left .btn__white:hover {
    border: 1px solid red;
    background-color: yellow;
}
.main .section .conteiner__left .conteiner__text__features .text__features {
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    margin-top: 24px;   
}
.main .section .conteiner__right {
    margin: 151px 67px 0 0;
}
.main .section .conteiner__right .pic {
    border: 5px solid white;
}
.main .section .conteiner__right .pic:hover {
    border: 5px solid blue;
    background-color: whitesmoke;
}
.main .companies {
    background-color: #FF9C7D;
    max-width: 1440px;
    margin: 0 auto;
    height: 455px;
    margin-top: 172px;
}
.main .companies .title__title {
    max-width: 720px;
    margin: 0 auto;
    padding-top: 108px;
}
.main .companies .title__title .title {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    color: #000000;
   
}
.main .companies .compani {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 70px 85px 0 102px;
    padding-bottom: 120px;
}
.main .section .project {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.main .section .project .section__first {
    margin: 241px 0 0 75px;
}
.main .section .project .section__first .section__title {
    max-width: 493px;    
}
.main .section .project .section__first .section__title .title {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #000000;
}
.main .section .project .section__first .section__text {
    max-width: 491px;
}
.main .section .project .section__first .section__text .text {
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-top: 30px;
}
.main .section .project .section__first .link {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    text-decoration: none;
    margin-top: 30px;
    display: inline-block;
}
.main .section .project .section__second {
    margin: 90px 75px 0 165px;
}
.main .section .markettime {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.main .section .markettime .section__first {
    margin: 250px 0 0 75px;
}
.main .section .markettime .section__second {
    margin: 401px 0 0 138px;
}
.main .section .markettime .section__second .section__title .title {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #000000;
    max-width: 379px;
}
.main .section .markettime .section__second .section__text .text {
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    max-width: 450px;
    margin-top: 30px;
}
.main .section .markettime .section__second .link {
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-top: 36px;
    text-decoration: none;
}
.main .section .contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.main .section .contact .section__first {
    margin: 411px 0 0 75px;
}
.main .section .contact .section__first .title {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #000000;
}
.main .section .contact .section__first .section__text {
    max-width: 520px;    
}
.main .section .contact .section__first .section__text .text {
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-top: 30px;   
}
.main .section .contact .section__first .link {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    display: inline-block;
    margin-top: 35px;
    text-decoration: none;
}
.main .section .contact .section__second {
    margin: 250px 0 0 138px
}
.main .section .developers {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.main .section .developers .section__first {
    margin: 250px 0 0 75px;
}
.main .section .developers .section__second {
    margin: 401px 0 0 138px;
}
.main .section .developers .section__second .section__title .title {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #000000;
    max-width: 379px;
}
.main .section .developers .section__second .section__text .text {
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    max-width: 450px;
    margin-top: 30px;
}
.main .section .developers .section__second .link {
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-top: 36px;
    text-decoration: none;
}
main .section .color {
    width: 1440px;
    background-color: #FFF8E4;    
    margin: 0 auto;
    margin-top: 150px;
}
main .section .color .title__center {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;    
    color: #000000;
    text-align: center;   
 }
 .main .section .color .top__cards .card__web__app {
     max-width: 303px;
     margin-top: 79px;
 }
 .main .section .color .top__cards .card__web__app .image {
    display: block;
    margin: 0 auto;
 }
.main .section .color .top__cards .card__web__app .title {
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    color: #000000;
    margin-top: 26px;
}
.main .section .color .top__cards .card__web__app .card__text .text {
    max-width: 303px;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    text-align: center;
    margin-top: 20px;
}
.main .section .color .top__cards {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
.main .section .color .top__cards .card__mobile__app {
    max-width: 330px;
    margin-top: 79px;
}
.main .section .color .top__cards .card__mobile__app .image {
    display: block;
    margin: 0 auto;
 }
.main .section .color .top__cards .card__mobile__app .title {
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    color: #000000;
    margin-top: 21px;
}
.main .section .color .top__cards .card__mobile__app .card__text .text {
    max-width: 303px;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    text-align: center;
    margin-top: 25px;
}
.main .section .color .top__cards .card__games {
    max-width: 281px;
    margin-top: 79px;
}
.main .section .color .top__cards .card__games .image {
    display: block;
    margin: 0 auto;
 }
.main .section .color .top__cards .card__games .title {
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    color: #000000;
    margin-top: 23px;
}
.main .section .color .top__cards .card__games .card__text .text {
    max-width: 303px;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    text-align: center;
    margin-top: 23px;
}
.main .section .color .bottom__cards {
    display: flex;
    justify-content: space-around;
    align-items: baseline;    
}
.main .section .color .bottom__cards .card__documents {
    max-width: 309px;
    margin-top: 75px;
}
.main .section .color .bottom__cards .card__documents .image {
    display: block;
    margin: 0 auto;
 }
 .main .section .color .bottom__cards .card__documents .title {
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    color: #000000;
    margin-top: 26px;
}
.main .section .color .bottom__cards .card__documents .card__text .text {
    max-width: 303px;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    text-align: center;
    margin-top: 20px;
}
.main .section .color .bottom__cards .card__e-mails {
    max-width: 310px;
    margin-top: 75px;
}
.main .section .color .bottom__cards .card__e-mails .image {
    display: block;
    margin: 0 auto;
 }
 .main .section .color .bottom__cards .card__e-mails .title {
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    color: #000000;
    margin-top: 23px;
}
.main .section .color .bottom__cards .card__e-mails .card__text .text {
    max-width: 303px;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    text-align: center;
    margin-top: 23px;
}
.main .section .color .bottom__cards .card__iot {
    max-width: 326px;
    margin-top: 75px;
}
.main .section .color .bottom__cards .card__iot .image {
    display: block;
    margin: 0 auto;
 }
 .main .section .color .bottom__cards .card__iot .title {
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    color: #000000;
    margin-top: 23px;
}
.main .section .color .bottom__cards .card__iot .card__text .text {
    max-width: 303px;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    text-align: center;
    margin: 23px 0 172px 0;
}
.main .section .productivity .cards {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start    
}
.main .section .productivity .subject {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #000000;
    margin-top: 154px;    
}
.main .section .productivity .cards .card__first {
    max-width: 409px;
    margin-right: 31px;
    margin-top: 75px;
}
.main .section .productivity .cards .title {
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    color: #000000; 
}
.main .section .productivity .cards .text {
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-top: 34px;
}.main .section .productivity .cards .link {
    display: block;
    font-size: 20px;
    line-height: 30px;    
    color: #000000;   
    margin-top: 25px;
}
.main .section .productivity .cards .card__second {
    max-width: 409px;
    margin-right: 31px;
    margin-top: 92px;
}
.main .section .productivity .cards .card__third {
    max-width: 407px;
    margin-top: 84px;
}
.main .section .productivity .cards .card__second .link {
    margin-top: 26px;
    margin-bottom: 217px;
}
.main .section .productivity .cards .card__second .text {
    margin-top: 33px;
}
.main .section .productivity .cards .card__first .title {
    margin-top: 49px;
}
.main .section .productivity .cards .card__second .title {
    margin-top: 67px;
}
.main .section .productivity .cards .card__third .title {
    margin-top: 58px;
}
.main .section .wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #C9E8F2;
}
.main .section .wrap .quote {
    margin: 63px 0 0 75px;
    max-width: 895px;
}
.main .section .wrap .pic {
    margin: 53px 75px 105px 85px;
}
.main .section .wrap .quote .quote__text {
    font-size: 30px;
    line-height: 40px;
    color: #000000;
    margin-bottom: 23px;
}
.main .section .wrap .quote .quote__text .text {
    font-size: 15px;
    line-height: 25px;
    color: #000000;    
}
.main .section .wrapper {
    background-color: #DABC98;   
}
.main .section .wrapper .cake {
    margin: 70px 65px 84px 65px;
}
.main .section__big {
    max-width: 1440px;
    margin: 0 auto;
}
.main .section__big .box {
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.main .section__big .box .title {
    font-weight: 600;
    font-size: 65px;
    line-height: 75px;    
    color: #000000;
    max-width: 791px;
    text-align: center;
    margin-top: 165px;
}
.main .section__big .box .text {
    font-size: 25px;
    line-height: 30px;
    color: #000000;
    max-width: 539px;
    text-align: center;
}
.main .section__big .box .picture {    
    margin-top: 25px;
}
.main .section__big .box .btn {
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;  
    background-color: #FF6336;
    color: white;
    padding: 0 20px;
    margin-top: 32px;
    margin-bottom: 162px;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #FF6336;
}
.main .section__big .box .btn:hover {
    border: 1px solid blue;
}
.main .section .conteiner__last {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #FF9C7D;
}
.main .section .conteiner__last .box {
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.main .section .conteiner__last .box .title {
    font-weight: 600;
    font-size: 65px;
    line-height: 75px;
    text-align: center;
    color: #000000;
    margin: 119px 328px 0 328px;
}
.main .section .conteiner__last .box .text {
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    text-align: center;
    margin-top: 29px;
}
.main .section .conteiner__last .box .btn {
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;    
    color: #FFFFFF;
    display: inline-block;
    background-color: #000000;
    text-decoration: none;
    padding: 0 40px;
    margin: 54px 0 161px 0;
    border: 1px solid black;
}
.main .section .conteiner__last .box .btn:hover {
    border: 1px solid white;
}
.footer .section {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer .section .left__section {
    margin: 92px 0 0 75px;
}
.footer .section .left__section .title {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    color: #000000;
}
.footer .section .left__section .image {
    display: block;
    margin: 28px 0 31px 0;
}
.footer .section .left__section .img {
    display: block;
}
.footer .section .left__section .text {
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin: 10.96px 0 15px 0;
    max-width: 290px;
}
.footer .section .left__section .link {
    display: block;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    text-decoration: none;
    margin-bottom: 95px;
}
.footer .section .right__section .cards {
    display: flex;    
}
.footer .section .right__section .cards .legal {
    max-width: 187px;
    margin-left: 62px;
    margin-right: 86px;
}
.footer .section .right__section .cards .company {
    max-width: 187px;
    margin-left: 51px;
}
.footer .section .right__section .cards .support {
    max-width: 187px;
    margin-left: 109px;
}
.footer .section .right__section .cards .title {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    margin-top: 97px;
}
.footer .section .right__section .cards .link {
    display: block;
    font-size: 15px;
    line-height: 15px;
    color: #000000;
    text-decoration: none;
    margin-bottom: 15px;
}
.footer .section .right__section .cards .product .title {
    margin-bottom: 21px;
}
.footer .section .right__section .cards .support .title {
    margin-bottom: 21px;
}
.footer .section .right__section .cards .company .title {
    margin-bottom: 21px;
}
.footer .section .right__section .cards .legal .title {
    margin-bottom: 21px;
}
.footer .section .blok__left .img {    
    margin: 52.23px 14.05px 0 75px;
}
.footer .section .blok__left .text {
    font-size: 12px;
    line-height: 15px;
    color: #000000;   
    display: inline-block; 
    max-width: 301px;
    margin-bottom: 43px;
}
.footer .section .blok__right .list {
    margin-right: 151px;
    margin-top: 47px;
}
.footer .section .blok__right .item {
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}
.footer .border {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: lightslategray;
    margin: 0 295px 0 295px ;
}


